body {
	background-color: #ADAEFF;
	color: #C2E2E8;
	text-align: justify-all;
}
h1 {
	font-weight: bold;
}

h3 {
	font-family: Arial, sans-serif;
	font-size: 16px;
}
#second {
	font-weight: bold;
}
p { 
	font-family: "Courier New", monospace; 
}
.important {
	font-size: 18px;
}
