body {
	text-align: center;
  	background: url("images/kathy_peter_hero.jpg");
  	background-size: cover;
	background-color: #FFF;
	color: #C2E2E8;
	font-family: Arial, sans-serif;
}
h2 {
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
#second {
	font-weight: bold;
}
p { 
	font-family: Arial, sans-serif; 
}
.important {
	font-size: 18px;
}
