body {
  text-align: center;
  background-image: url(http://eatpraykat.github.io/unit_3/images/kathy_peter_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-img 
	{background-image: linear-gradient (to bottom right,#002f4b,#dc4225);
	opacity: .6; 
  }

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	color: #C791C0;
	 text-shadow: 3px 3px 0px #fff;
}
hr {
  width: 200px;
}
#first {
	width: 900px;
}

h2 {
  	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	font-style: italic;
	color: #CD8FAA;
}
p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  padding-right: 100px;
  padding-left: 100px;
}
#padding {
	padding-right: 100px;
  padding-left: 100px;
  }  
#text {
	 background: rgba(0, 0, 0, 0.1);
}
table {
	text-align: center;
}
li, nav {
	font-size: 20px;
  color: #ffffff;
  font-weight: 600;
	display:inline;
	padding:0 30%;
}