body {
  text-align: center;
  background-image: url(http://eatpraykat.github.io/unit_3/images/kathy_peter_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	color: #C791C0;
}
hr {
  width: 200px;
}
#first {
	width: 900px;
}

h2 {
  	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	font-style: italic;
	color: #796A8F;
    padding-right: 50px;
    padding-left: 50px;
}
p {
  font-size: 16px;
  color: #ffffff;
  font-style: bold;
  padding-right: 50px;
  padding-left: 50px;
}

table {
	text-align: center;
}